.list-credits {
  @include position(flex, flex-end, flex-end);
  flex-direction: column;
  li {
    list-style: none;
    max-width: 345px;
  }
}

.spacing-credits {
  margin-bottom: 30px;
}

.move-right {
  @include position(flex, center, flex-end);
  padding: 0 30px;
  li {
    list-style: none;
  }
}

.credits-background {
  background-image: url("../Assets/bghero.webp");
  background-repeat: no-repeat;
  background-position: 0%;
  height: 600px;
  background-size: cover;
}

.margin {
  margin-right: 30px;
}
