.list-destin {
  @include position(flex, center, center);
  width: 300px;
  font-size: 24px;
  li {
    list-style: none;
  }
  margin: 50px 0;
}

.move-left {
  @include position(flex, flex-start, flex-start);
  padding: 0 -30px;
  li {
    list-style: none;
  }
}

.destin-color {
  color: $--white;
  font-size: 40px;
}

.destination-background {
  background-image: url("../Assets/bghero3.webp");
  background-repeat: no-repeat;
  background-position: 0%;
  height: 200vh;
  background-size: cover;
}

.america-background {
  background-image: url("../Assets/north-a.webp");
  background-repeat: no-repeat;
  background-position: 50%;
  height: 300px;
  background-size: 90%;
  margin-bottom: 50px;
}
.s-america-background {
  background-image: url("../Assets/south-a.webp");
  background-repeat: no-repeat;
  background-position: 50%;
  height: 300px;
  background-size: 90%;
  margin-bottom: 50px;
}
.europa-background {
  background-image: url("../Assets/euro.webp");
  background-repeat: no-repeat;
  background-position: 50%;
  height: 300px;
  background-size: 90%;
  margin-bottom: 50px;
}

.column-align {
  flex-direction: column;
  li {
    list-style: none;
  }
}

.spacing {
  margin: 50px 0;
}
